.header-home {
  justify-content: flex-start;
  padding: 3rem 2rem;
}

.header-home h2 {
  font-size: clamp(1rem, 6vw, 1.5rem);
}

.logo-subtitulo-ctn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-subtitulo-ctn svg {
  width: clamp(3rem, 5vw, 20rem);
}
